/* src/tokens/reset.css */
*, *::before, *::after { box-sizing: border-box; }
* { margin: 0; padding: 0; }
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body { line-height: 1.5; }
img, svg { display: block; max-width: 100%; }
button { cursor: pointer; background: none; border: none; }
a { color: inherit; }
